{% unless template == 'index' or template == 'cart' or template == 'list-collections' or template == 'collection' %}
  <div class="BreadCramb-Area">
    <nav class="BreadCrumb" role="navigation" aria-label="breadcrumbs">
      <a href="{{ routes.root_url }}" title="Home">Home </a>
      {% if template contains 'page' %}
        <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
        <span>{{ page.title }}</span>
      {% elsif template contains 'product' %}
        {% if collection.url %}
          <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
          {{ collection.title | link_to: collection.url }}
        {% endif %}
        <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
        <span>{{ product.title }}</span>
      {% elsif template contains 'collection' and collection.handle %}
        <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
          <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
          <span>{{ current_tags | join: " + " }}</span>
        {% else %}
          <span>{{ collection.title }}</span>
        {% endif %}
      {% elsif template == 'blog' %}
        <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }}
          <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
          <span>{{ current_tags | join: " + " }}</span>
        {% else %}
        <span>{{ blog.title }}</span>
        {% endif %}
      {% elsif template == 'article' %}
        <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
        {{ blog.title | link_to: blog.url }}
        <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
        <span>{{ article.title }}</span>
      {% else %}
      <span class="BreadLine" aria-hidden="true">
          <svg xmlns="//www.w3.org/2000/svg" width="11.909" height="24.417" viewBox="0 0 11.909 24.417"><line id="Idea-BreadCrumb-Line" x1="11" y2="24" transform="translate(0.455 0.208)" fill="none" stroke="#707070" stroke-width="1" /></svg>
        </span>
      <span>{{ page_title }}</span>
      {% endif %}
    </nav>
  </div><!-- /BreadCrumb -->
{% endunless %}