{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

<!-- ADD CSS -->
{{ 'Idea-Css-TopItems.css' | asset_url | stylesheet_tag }}
{{ 'Idea-Css-CommonItems.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
  endif
-%}

{%- unless section.settings.title == blank -%}
<h2 class="Idea-PageTitle">{{ section.settings.title | escape }}</h2>
{%- endunless -%}

{% comment %} Idea 商品グリッド {% endcomment %}
<div class="ItemGridWrapper Pd15">
  <ul id="product-grid" class="Idea-Items grid product-grid {% if section.settings.columns_desktop == 1 %}grid--full-width{% else %} grid--{{ section.settings.columns_desktop }}-col-desktop{% endif %} grid--2-col grid--3-col-tablet" role="list">

    {% assign sorted_products = collection.products | sort: 'best-selling' %}
    {% for product in sorted_products limit: section.settings.products_to_show %}
      <li class="grid__item">
        <div class="ItemImgArea">
          <picture>
            <source media="(min-width: 640px)" data-aspectratio="1" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7" srcset="{{ product.featured_image | image_url: width: 600 }}" alt="{{ product.featured_media.alt }}" />
            <!-- SP 640px以上なら表示 -->
            <img class="lazyload SlideFadeInImg" data-aspectratio="1" src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7" srcset="{{ product.featured_image | image_url: width: 300 }}" alt="{{ product.featured_media.alt }}" />
            <!-- それ以外で表示 (SP) -->
          </picture>
          {% unless product.available %}
            <div class="SoldOut">{{ 'products.product.sold_out' | t }}</div>
          {% endunless %}
        </div>
        <div class="TextArea">
          <h3>{{ product.title | escape }}</h3>

          {% render 'Idea-price', product: product %}

        </div>
        <a href="{{ product.url }}" title="{{ product.title | escape }}"></a>
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Idea RECOMMENDコレクション",
  "tag": "section",
  "class": "section Common-Items-Area",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    }
  ],
  "presets": [
    {
      "name": "Idea RECOMMENDコレクション"
    }
  ]
}
{% endschema %}